#input {
  display: flex;
  flex-direction: column;
  margin: auto;
}

#input .button {
  margin: 5% auto;
  font-size: xx-large;
  padding: 10px;
  background: white;
  border: medium solid black;
  cursor: pointer;
}