.input {
  display: grid;
  background: goldenrod;
  padding: 20px;
}

.inputContent {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 10px;

  border: medium solid black;
  border-radius: 20px;
  background: white;
}

.inputContent .button {
  margin: 5% 0;
  font-size: xx-large;
  padding: 10px;
  background: white;
  border: medium solid black;
  border-radius: 20px;
  cursor: pointer;
}
